 /*通用样式*/
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, input, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    color: #333;
    background: #fff;
    font-family: "Microsoft YaHei", "simsun", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
img {
    border: 0;
}
ul,ol{
    list-style: none;
}

/*自定义链接颜色(可自由更换)*/

a {
    color: #333;
    text-decoration: none;
}

/*链接-颜色*/

a:hover {
    color: #1380cb;
}

/*链接-悬浮颜色*/

.text-underline:hover {
    text-decoration: underline;
}
/***float***/

.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
/*清除浮动*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clear {
    clear: both;
}
input::-webkit-input-placeholder {
    color: #ccc;
}

/*页面样式开始*/
body{background-color: #eee;}
#order-all{
    width:100%;
}
header{
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.newgoods-top{
    width: 100%;
    height: 45px;
    background: #3481ED;
    line-height: 45px;
    color: #fff;
}
.newgoods-top li{
    float:left;
    height:45px;
}
.newgoods-top-i{
    width:30%;
}
.newgoods-top-p{
    width:40%;
    text-align: center;
}
.newgoods-top i{
    display: inline-block;
    width:28px;
    height:28px;
    margin:8px 0 0 10px;
    background: url("../img/21.png") no-repeat 0 0;
}
.newgoods-footer{
    width:100%;
    background-color: #fff;
    height:35px;
    line-height: 35px;
    text-align: left;
}
.newgoods-footer-div{
    width:50%;
    height:30px;
    margin-left: 4%;
}
.newgoods-footer-div>span{
    display: inline-block;
    width:2px;
    height:10px;
    background-color: #3481ED;

}
.newgoods-footer-div>p{
    display: inline-block;
    height:30px;
    color:#000;
    font-size: 12px;
}

section{
    width:100%;
    height:500px;
    margin-top:90px;
    background:#fff;
}
.newgoods-section-box{
    width: 90%;
    margin-left: 8%;
}
.newgoods-section-box li{
    display: inline-block;
    width: 49%;
    height: 155px;
    margin-top: 15px;
}
.newgoods-section-box li>p{
    font-size: 13px;
    color: #666;
    height: 20px;
    padding: 5px 0;
}
.newgoods-section-box li>div{
    width:150px;
    height:125px;
    position:absolute;
    background:url("../img/upload.png");
}
 .newgoods-section-box li>div>img{
     width:150px;
     height:125px;
 }
.newgoods-section-box li>i{
    display: none;
    width: 25px;
    height: 25px;
    background:url("../img/21.png") no-repeat 0 -132px;
    position: relative;
    top: 2px;
    left: 122px;
}
.newgoods-section-button{
    width:100%;
    background:#fff;
    height: 80px;
    line-height: 80px;
    text-align: right;
}
.newgoods-section-button>button{
    width:75px;
    height:30px;
    border-radius: 5px;
    background-color: #7bb4fb;
    border: none;
    color: #fff;
    margin-right: 3%;
}
button:hover{
    background:#3481ED;
}


/*弹出框样式*/
.overlay{
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity=30);
    z-index:9;
    -moz-opacity:0.5;
}
.mask{
    display:none;
    position: fixed;
    bottom: 0;
    width:100%;
    height:125px;
    background:#fff;
    z-index:15;
}
.mask li{
    width:100%;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #333;
    font-size: 15px;
}