/*通用样式*/
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, input, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    color: #333;
    background: #fff;
    font-family: "Microsoft YaHei", "simsun", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
img {
    border: 0;
}
ul,ol{
    list-style: none;
}

/*自定义链接颜色(可自由更换)*/

a {
    color: #333;
    text-decoration: none;
}

/*链接-颜色*/

a:hover {
    color: #1380cb;
}

/*链接-悬浮颜色*/

.text-underline:hover {
    text-decoration: underline;
}
/***float***/

.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
/*清除浮动*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clear {
    clear: both;
}
input::-webkit-input-placeholder {
    color: #ccc;
}



/*页面样式开始*/
body{background-color: #eee;}
#order-all{
    width:100%;
}
header{
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.newgoods-top{
    width: 100%;
    height: 45px;
    background: #3481ED;
    line-height: 45px;
    color: #fff;
}
.newgoods-top li{
    float:left;
    height:45px;
}
.newgoods-top-i{
    width:30%;
}
.newgoods-top-p{
    width:40%;
    text-align: center;
}
.newgoods-top i{
    display: inline-block;
    width:28px;
    height:28px;
    margin:8px 0 0 10px;
    background: url("../img/21.png") no-repeat 0 0;
}
section{
    width:100%;
    margin-top:12%;
    background:#fff;
}
.f_c{color: #f00;}
.newgoods-section-dl{
    margin-top: 10px;
    width: 100%;
}

.newgoods-section-dl dt{
    font-size: 13px;
    text-align: left;
    width: 100%;
    line-height: 30px;
    font-weight:normal;
}
.newgoods-section-dl dd{
    width: 100%;
    position: relative;
}
.pmc-dd>dd{
    display: inline-block;
    width:32%;
}
.newgoods-section-dl input ,select{
    width: 96%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    color: #333;
    font-size:12px;
}
.newgoods-section-dl input{
    text-indent:0.5em;
}
/*补全按钮单独样式设置*/
.box-cs{
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: #3481ED;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 1px;
    left: 83%;
}
.newsupplier-select {
    display: none;
}
/* textarea框公用样式 */
.newgoods-section-textarea{
    display: inline-block;
    width:100%;
    margin-top: 10px;
    margin-left: 10px;
}
.newgoods-section-textarea dt{
    font-size: 13px;
    float: left;
    text-align: left;
    width: 22%;
    line-height: 30px;
    font-weight:normal;
}
.newgoods-section-textarea dd{
    width: 75%;
    float: left;
}
.newgoods-section-textarea textarea{
    width: 93%;
    padding: 4px 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 18px;
    min-height: 50px;
    font-size:13px;
}

/*上传图片样式设置*/
.newgoods-section-box{
    width: 90%;
    margin-left: 8%;
    padding-bottom: 35px;
    margin-top:10px;
}
.show{
    display: inline-block;
    width: 49%;
    height: 155px;
    margin-top: 15px;
}

.no{
    display: none;
}
.newgoods-section-box li>p{
    font-size: 13px;
    color: #666;
    height: 20px;
    padding: 5px 0;
}
.newgoods-section-box li>div{
    width:150px;
    height:125px;
    position:absolute;
    background:url("../img/upload.png");
}
.newgoods-section-box li>div>img{
    width:150px;
    height:125px;
}
.newgoods-section-box li>i{
    display: none;
    width: 25px;
    height: 25px;
    background:url("../img/21.png") no-repeat 0 -132px;
    position: relative;
    top: 2px;
    left: 122px;
}

/*单选框单独样式*/
.newgoods-radio{
    height:30px;
    line-height:30px;
}
.newgoods-radio input{
    width:auto;
    height:auto;
}

.newgoods-section-button{
    width:100%;
    background:#fff;
    height: 80px;
    line-height: 80px;
    text-align: right;
}
.newgoods-section-button>button{
    width:75px;
    height:30px;
    border-radius: 5px;
    background-color: #7bb4fb;
    border: none;
    color: #fff;
    margin-right: 3%;
}
button:hover{
    background:#3481ED;
}


/*弹出框样式*/
.overlay{
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity=30);
    z-index:9;
    -moz-opacity:0.5;
}
.mask{
    display:none;
    position: fixed;
    bottom: 0;
    width:100%;
    height:125px;
    background:#fff;
    z-index:15;
}
.mask li{
    width:100%;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #333;
    font-size: 15px;
}

